footer {
    background-color: rgba(94, 255, 0, 0.356);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 20px;
    margin: none;
    color: black;
}
table{
    font-family:serif;
    text-align: center;
}
/*footer{
    background-color: rgba(94, 255, 0, 0.356);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 20px;
    margin: none;
    color: black;
}

.bloc{
    width: 25%;
}
.footer-contact h3, .footer-service h3,.footer-horaire h3, .footer-reseau h3{
    width: 25%;
    font-size: 25px;
    padding-bottom: 10px;
}

.footer-contact p{
    padding: 5px;
} 
.liste-services ,
.liste-horaires , 
.liste-reseaux{
    list-style-type: none;
}
.liste-services li{
    padding: 2px 0;
}
.liste-services a , .liste-reseaux a{
    text-decoration: none;
    color: #333;
}
.liste-reseaux:hover{
    color: rgb(71, 22, 117);
}
.liste-services:hover{
    color: rgb(231, 120, 120);
}
.liste-services , .liste-reseaux,.liste-horaires{
    position: relative;
    right: 42px;
}
.liste-reseaux li a{
    color: black;
}
.liste-services li a{
    color: black;
 }
 p{
    padding-left: 500px;
 }